@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: black;
    background-image: url("/img/stars.jpg");
    overflow-x: hidden;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 100px;
}

.real-title {
    color: white;
    font-family: 'Quintessential', cursive;
    font-size: 50px;
    opacity: 0.8;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sj-container,
.js-container,
.cy-container {
    width: 450px;
    margin-top: 50px;
    height: 1000vh;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.js-container,
.cy-container {
    margin-left: 50px;
}

.sj-profile {
    background-image: url("/img/sj.png");
    width: 200px;
    height: 200px;
    object-fit: fill;
    background-size: 200px 200px;
    border-radius: 100px;
    border: 2px solid white;
    margin-top: 50px;
}

.js-profile {
    background-image: url("/img/js.jpeg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    border-radius: 100px;
    border: 2px solid white;
    margin-top: 50px;
}

.cy-profile {
    background-image: url("/img/cy.png");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    border-radius: 100px;
    border: 2px solid white;
    margin-top: 50px;
}

.js-title,
.sj-title,
.cy-title {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

.js-text,
.sj-text,
.cy-text {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    width: 400px;
}

.sj-introduce {
    display: flex;
    align-items: center;
    flex-direction: column;
}