.intro-text {
  display: block;
  width: 650px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 14px 24px black;
}

h2 {
  margin: 10px auto;
  font-size: 300%;
}

p {
  margin: 5px;
}

input {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 460px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  font-size: large;
  padding: 5px 10px;
  transition-duration: 1s;
}

input:focus {
  outline: none;
  border: 3px inset midnightblue;
}

button {
  display: block;
  margin: 20px auto;
  width: 480px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: large;
  color: aliceblue;
  background-color: rgb(49, 49, 119);
  transition-duration: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: midnightblue;
}
