html,
body {
  height: 100%;
  min-height: 100%;
}

html,
body {
  font-family: "Do Hyeon", sans-serif;
}

ul {
  list-style-type: none;
}

a:visited {
  color: midnightblue;
}

.wrap {
  margin: 0 auto;
  overflow: hidden;
}

header {
  display: block;
  width: 85%;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* background-color: rgba(132, 181, 255, 0.2); */
  /* border-radius: 10px; */
}

.admin {
  position: absolute;
  top: 4.5%;
  left: 4.5%;
  font-size: 2.6rem;
  color: rgb(28, 23, 73);
}

.thedream-logo {
  position: absolute;
  top: 7%;
  left: 4.5%;
  font-size: 2.6rem;
  text-align: center;
  color: rgb(28, 23, 73);
}

.thedream-logo img {
  width: 36px;
}

.nav-main {
  width: 60%;
  line-height: 55px;
  margin: 3%;
  margin-left: 25%;
  text-align: center;
}

.nav-main li {
  display: inline-block;
  margin: 0 3%;
  font-size: 2.4rem;
  transition-duration: 0.5s;
  color: rgb(28, 23, 73);
  border-radius: 20px;
}

.nav-main li:hover {
  background: linear-gradient(#0c0d0e 10%, rgb(28, 23, 73) 55%);
  padding: 0 10px;
  color: whitesmoke;
  cursor: pointer;
}

.nav-main .nav-main-selected {
  color: rgb(25, 25, 112);
  text-decoration: underline;
}

.aside-box {
  float: left;
  width: 13%;
  height: 15%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding: 20px 0;
  color: whitesmoke;
  background: linear-gradient(#0c0d0e 10%, rgb(28, 23, 73) 55%);
  border-radius: 30px;
  box-shadow: 10px 10px 10px #0c0d0e;
}

.aside-box ul > li {
  font-size: 2rem;
  margin: 10px 0;
  transition-duration: 0.5s;
}

.aside-box ul > li:hover {
  cursor: pointer;
  margin-left: 10px;
}

.aside-box ul > li > ul > li:hover {
  cursor: pointer;
  margin-left: 10px;
}

.aside-box ul > li > ul > li {
  font-size: 1.4rem;
}

.aside-box .nav-aside-selected {
  text-decoration: underline;
  margin-left: 10px;
}

.container {
  float: left;
  width: 75%;
  margin-bottom: 120px;
}

footer {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  text-align: center;
}

/*    post list table     */

table {
  width: 90%;
  table-layout: fixed;
}
table,
th,
td {
  margin: 10px auto;
  border-collapse: collapse;
  font-size: 1.5rem;
}

th,
td {
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
}

td:nth-of-type(1) {
  color: midnightblue;
}

caption {
  margin: 20px;
  font-size: larger;
  font-weight: bolder;
}
.col-title {
  width: 50%;
}

.col-date {
  width: 20%;
}

.col-update {
  color: GoldenRod;
}

.col-delete {
  width: 10%;
  color: FireBrick;
}

table input[type="checkbox"] {
  display: none;
}

table label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

table label::before {
  content: "";
  display: inline-block;
  margin-left: 20px;
  padding: 5px;
  width: 13px; /* 체크박스의 너비를 지정 */
  height: 10px; /* 체크박스의 높이를 지정 */
  line-height: 10px; /* 세로정렬을 위해 높이값과 일치 */
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
}

table input[type="checkbox"]:checked + label::before {
  content: "\2714";
  color: FireBrick;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
}

/*    post create form    */

.post-create-form {
  display: block;
  width: 70%;
  height: 90%;
  margin: 0 auto;
  padding: 3% 5%;
  transition-duration: 1s;
}

.post-create-form h2 {
  font-size: 2rem;
}

.post-create-form input {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10px;
  transition-duration: 0.5s;
}

.post-create-form input:focus {
  outline: none;
  border-radius: 10px;
  border: 3px inset midnightblue;
}

.post-create-form textarea {
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 30%;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bolder;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10px;
  transition-duration: 0.5s;
}

.post-create-form textarea:focus {
  outline: none;
  border-radius: 10px;
  border: 3px inset midnightblue;
}

.post-create-form .project-subject {
  width: 97.5%;
}

.btn-post-create {
  display: block;
  float: right;
  width: 100%;
  margin-top: 2%;
  padding: 1.2%;
  background-color: rgb(41, 41, 185);
  color: #e9ecee;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 0 3px 10px black;
  transition-duration: 0.5s;
}

.btn-post-create:hover {
  background-color: midnightblue;
  cursor: pointer;
}
